
<%all_posts = Message.all.ids %>
<%all_posts.each do |n| %>
<div class="container">
<div class="col-md-8 col-md-offest-2">
    <h1><%=Message.find(n).title %></h1>
    <p><%= Message.find(n).message %></p>
    <strong>Author: <%= User.find(Message.find(n).user_id).fname%> <%= User.find(Message.find(n).user_id).lname%> / Handle: @<%= User.find(Message.find(n).user_id).username%></strong>
    <div>
    <span class="badge">Posted <%= Message.find(n).created_at %></span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span></div>         
     </div>
    <hr>
    <%end%>  
</div>
</div>