<% @user = User.where(id: session[:user_id]).first %>
<% all_posts = Message.all.ids %>
<% followers = User.find(@user.id).followers %>
<% followed = User.find(@user.id).followed %>
<% @@user_pic = @user.username %>


<div class="jumbotron parallax-section-1">

</div><!--end_jumbotron-->

<div class="container" id="dn_profile-body">
  <div class="row panel-body" id="dn_profile-body-inner">
    

    <!-- Navigation Buttons -->
    <div class="col-md-3" id="dn_profile-left-pane">
      <img src="<%= if File.exist?("public/img/#{@user.username}.jpg")
              
                      "/img/#{@user.username}.jpg"
                      else 
                      "/img/blank-profile.jpg"
                      end 
                      %>" alt="<%= @user.fname %> <%= @user.lname %> - <%= @user.username %>" class="img-responsive">

      <h2><strong>Dimitry Nazarov</strong></h2>
      <strong>Handle:</strong> @dimanyc
      <hr/>
      
          <ul class="nav nav-pills nav-stacked" id="myTabs">
              
              <li class="active">
                <a href="#home"><span class="glyphicon glyphicon-list"></span> Feed</a>
              </li>

              <li>
                <a href="#slip"><span class="glyphicon glyphicon-comment"></span> Post New Slip</a>
              </li>

              <li>
                <a href="#profile"><span class="glyphicon glyphicon-user"></span> Profile</a>
              </li>

              <li>
                <a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
              </li>
              
              <li>
                <a href="#profile-image"><span class="glyphicon glyphicon-picture"></span> Profile Picture</a>
              </li>              

          </ul><!--end_.nav_pills-->

      </div><!--end_col-md-3-->

    <!-- Content -->
    <div class="col-md-9" id="dn_profile-right-pane">
        <div class="tab-content">
            <div class="tab-pane active" id="home">  
              <h2>News feed</h2>
              <br/><%all_posts.each do |n| %><% @user_author = User.find(Message.find(n).user_id) %>
              <div class="col-md-2">
                <img src="<%= if File.exist?("public/img/#{@user_author.username}.jpg")
              
                      "/img/#{@user_author.username}.jpg"
                      else 
                      "/img/blank-profile.jpg"
                      end 
                      %>" alt="<%= @user_author.fname %> <%= @user_author.lname %> - <%= @user_author.username %>" class="img-circle dn_thumb" width="100px" height="100px">
              </div><!--end_col-md-3-->

              <div class="col-md-10">
                <h3><%=Message.find(n).title %></h3> 
                <p><%= Message.find(n).message %></p>
               
                <div class="col-md-5" id="dn_author">
                  <strong>Author:</strong> <%= @user.fname%> <%= @user.lname%> / Handle: @<%= @user_author.username%>
                </div>
                
                <div class="col-md-5" id="dn_post-date">
                  <strong>Posted on:</strong> <%= Message.find(n).created_at %>
                </div><!--end_col-md-3--> 
                
              </div><!--end_col-md-10-->
              <hr/>
              <%end%>

            </div><!--end_#home-->

            <!--New Slip-->
            <div class="tab-pane" id="slip">
            <h2>Post New Slip:</h2>
              <br/>

              <form role="form" action="/post-new-slip" method="POST" accept-charset="UTF-8">
                <div class="form-group">
                  <input type="title" class="form-control" id="title" placeholder="Enter the title for your slip" name="title" required>
                </div><!--end_.form-group-->

              <div class="form-group">
                <label for="message" class="sr-only">Message</label><br/>
                  <textarea class="form-control" rows="5" id="message" placeholder="Enter the title for your slip" name="message" type="comment" required></textarea>
              </div><!--end_form-group-->

                <div class="text-center">
                  <button type="submit" class="btn btn-success btn-lg text-center">
                    <span class="glyphicon glyphicon glyphicon-log-in"></span> Post new slip
                  </button>
                </div>

              </form><!--end_form-->              
            
            </div><!--end_#slip-->

            <!--Posting New Slip-->            
            <div class="tab-pane" id="profile">

              <h2>Profile</h2>
              <br/>

                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>First Name:</td>
                      <td>Dimitry</td>
                    </tr>
                    
                    <tr>
                      <td>Last Name::</td>
                      <td>Nazarov</td>
                    </tr>

                    <tr>
                      <td>Username / Handle </td>
                      <td>@dimanyc</td>
                    </tr>
                       
                    <tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">dimitrynazarov@gmail.com</a></td>
                      </tr>
                    </tr>
                       
                  </tbody>
                </table>
                <h4>Bio</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <hr/>
                <h4>Followers:</h4>
                  
                  <div class="row"><% followers.each do |i| %>
                  <a href="<%=i.username %>">
                    <div class="col-md-1 vcenter">
                      <img src="/img/<%=i.username%>.jpg" alt="<%=i.username%>" class="img-circle" width="50" />
                    </div><!--end_col-md-1-->
                    
                    <div class="col-md-2 vcenter">
                      <a href="#">@<%=i.username %></a>
                    </div><!--end_col-md-3-->
                  </a><!--end_.username--> <% end %> 
                  </div><!--end_.row-->
                  <hr/>
                  <h4>Following:</h4>
                  
                  <div class="row"><% followed.each do |i| %>
                  <a href="<%=i.username %>">
                    <div class="col-md-1 vcenter">
                      <img src="/img/<%=i.username%>.jpg" alt="<%=i.username%>" class="img-circle" width="50" />
                    </div><!--end_col-md-1-->
                    
                    <div class="col-md-2 vcenter">
                      <a href="#">@<%=i.username %></a>
                    </div><!--end_col-md-3-->
                  </a><!--end_.username--><% end %> 
                  </div><!--end_.row-->
            </div><!--end_#profile-->

            <!--Profile Image-->
            <div id="profile-image">
            <h2>Please upload your profile image</h2>
            <code>Image has to be 200x200px</code>

            <form action="/save-profile-image" enctype="multipart/form-data" method="post">
                <label for="myfile">File to upload:</label>
                <input id="myfile" type="file" name="myfile">
                <input id="submit" type="submit" name="submit" value="Upload picture!">
            </form>

            </div><!--end_profile-image-->
        </div>
    </div>

  </div><!--end_row-->
</div><!--end_container-->

<!--tabbable script-->
<script type="text/javascript">
$('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
  </script>