<%user_posts = User.find(session[:user_id]).messages  %>
<%all_posts = Message.all.ids %>
<%followers = User.find(@user.id).followee %>

		<!--Wall-->
		<div class="row jumbotron parallax-section-1">
			<div class="container">

			</div><!--end_.container-->
		</div><!--end_.row-->

		<!--Profile Pic-->
		<div class="row" id="profile_header">
			<div class="container">
				<div class="col-md-3 text-center" id="dn_user-pic">
					<img src="<%= if File.exist?("public/img/#{@user.username}.jpg")
				    	
				    					"/img/#{@user.username}.jpg"
				    					else 
				    					"/img/blank-profile.jpg"
				    					end	
				    					%>" alt="<%= @user.fname %> <%= @user.lname %> - <%= @user.username %>" class="img-circle">

				<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-collapse-up"></span> Upload New Image</button>
				<div id="followers">
				<h3>Followers:</h3>
					<ul id="dn_followers"><% followers.each do |i| %>
						<li><a href="<%=i.username %>"><img src="/img/<%=i.username%>.jpg" alt="<%=i.username%>" class="img-circle" /><%=i.username %></a></li><% end %>  
					</ul>
				</div>
				</div><!--end_col-md-4-->
							    
			    <div class="col-md-9">
		            
				    <h1><%=@user.fname%> <%= @user.lname %> | <%= @user.username %></h1>

				<div class="tabbable">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#pane1" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> News feed</a></li>
						<li><a href="#pane2" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> Post New Slip</a></li>
						<li><a href="#pane3" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						<li><a href="#pane3" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
					</ul>

					<div class="tab-content">
						<div id="pane1" class="tab-pane active"><%all_posts.each do |n| %>

						<% @user_author = User.find(Message.find(n).user_id) %>	
						<div class="container">
							<div class="well col-md-12">
								<div class="media">
							      	<a class="pull-left" href="#">
							    		<img src="<%= if File.exist?("public/img/#{@user_author.username}.jpg")
				    	
				    					"/img/#{@user_author.username}.jpg"
				    					else 
				    					"/img/blank-profile.jpg"
				    					end	
				    					%>" alt="<%= @user_author.fname %> <%= @user_author.lname %> - <%= @user_author.username %>" class="img-circle">
							  		</a>
							  		<div class="media-body">
							    		<h4 class="media-heading"><%=Message.find(n).title %></h4>
							          	<p class="text-right">By <%= @user.fname%> <%= @user.lname%> / Handle: @<%= @user_author.username%></p>
							          	<p><%= Message.find(n).message %></p>
							          	<ul class="list-inline list-unstyled">
								  			<li><span><i class="glyphicon glyphicon-calendar"></i> <%= Message.find(n).created_at %> </span></li>
								            <li>|</li>
								            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
								            <li>|</li>
								            <li>
								               <span class="glyphicon glyphicon-star"></span>
								                        <span class="glyphicon glyphicon-star"></span>
								                        <span class="glyphicon glyphicon-star"></span>
								                        <span class="glyphicon glyphicon-star"></span>
								                        <span class="glyphicon glyphicon-star-empty"></span>
								            </li>
								            <li>|</li>
								            <li>
												<span><i class="fa fa-facebook-square"></i></span>
												<span><i class="fa fa-twitter-square"></i></span>
												<span><i class="fa fa-google-plus-square"></i></span>
								            </li>
										</ul>
									</div>
							    </div>
							</div><!--end_well-->
							</div><!--end_panel--><%end %>
						</div><!--end_.container-->
						<div id="pane2" class="tab-pane">
							<div class="container">
								<div class="row">
								    <div class="col-lg-12">
								        <form role="form" action="/post-new-slip" method="POST" enctype="multipart/form-data">
								            <div class="form-group">
								                
								                <h5><label for="title">Title</label></h5>
								                <input type="text" name="title" class="form-control" tabindex="1" placeholder="Enter your title" pattern="[a-zA-Z. ]{1,50}" required>

								            </div>
								            <div class="form-group">
								                 <h5><label for="message">Message</label></h5>

								                <textarea class="form-control" rows="5" id="comment" name="message"></textarea>
								            </div>
											<div class="text-center">
												<button type="submit" class="btn btn-success btn-lg text-center">
													<span class="glyphicon glyphicon glyphicon-log-in"></span> Post new slip
												</button>
											</div>
								        </form>
								        <br/>
								    </div>
								</div>
								
							</div><!--end_.container-->
						</div><!--#pane2-->
						<div id="pane3" class="tab-pane">
						<div class="container">
							<div class="row">
								<strong>First Name:</strong> <%=@user.fname %><br/>
						    	<strong>Last Name:</strong> <%=@user.lname %><br/>
						    	<strong>Username:</strong> <%=@user.username %><br/>
						    	<strong>Email:</strong> <%=@user.email %>	<br/>
					    	</div><!--end_.row-->
					    </div><!--end_.container-->
						</div>
						<div id="pane4" class="tab-pane">
							<h4>Pane 4 Content</h4>
						</div>
					</div><!-- /.tab-content -->
				</div><!-- /.tabbable -->
			</div><!--end_container-->
		</div><!--end_row-->
		
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		


