		<!--Wall-->
		<div class="row jumbotron parallax-section-1" id="dn_profile-wall">
<!-- 			<div class="container">
		    	<div class="">
		        	turn this into parallax with parallax js
		    	</div><!--end--> 
			</div><!--end_.container--> 
		</div><!--end_.row-->

		<!--Profile Pic-->
		<div class="container" id="profile_header">
		  <div class="row">
		    <div class="col-md-12 text-center">
			    <div id="dn_profile-block" class="col-md-5">
				    <img src="<%= if File.exist?("public/img/#{@user.username}.jpg")
				    	#'public/img/' + @user.username + '.jpg')
				    					'/img/dimanyc.jpg' 
				    					else 
				    					"/img/blank-profile.jpg"
				    					end	
				    					%>" alt="<%= @user.fname %> <%= @user.lname %> - <%= @user.username %>" class="img-circle">
				    <br/>
				   	<h1><%= @user.fname %> <%= @user.lname %></h1>
					<h4><strong>Handle:</strong> @<%= @user.username %></h4>
					<div style="text-align:left">
						<strong>First Name:</strong> <%=@user.fname %><br/>
					    <strong>Last Name:</strong> <%=@user.lname %><br/>
					    <strong>Username:</strong> <%=@user.username %><br/>
					    <strong>Email:</strong> <%=@user.email %>	<br/>
					    <hr/>
					    <strong>About:</strong><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					    </div>
			    </div><!--end_#dn_profile-block-->
			    <strong><a href="/posts">View My Posts</a></strong>
		   </div><!--end_col-md-12-->
		  </div><!--end_container-->
		</div><!--end_row-->

		
<script src="/js/parallax.js"></script>
<script src="/js/enquire.js"></script>

<script type="text/javascript">
$('.parallax-section-1').parallax({
speed : 0.15
});
</script>